body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

form {
  display: block;
  margin-top: 0em;
}

hr.firstHr {
  border: 8px solid rgb(15, 184, 85);
  border-radius: 5px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.bg-myGradiant {
  background-image: linear-gradient(to right, rgba(170, 75, 107, 1), rgba(107, 107, 131, 1), rgba(59, 141, 153, 1));
}

.nav .logged-user .btn {
  color: tomato;
  text-transform: uppercase;
  margin-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  background: #fff;
  font-size: 13px;
  width: 80px;
}

.btn:hover {
  border-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.center a {
  margin-left: 20px;
}

.centered {
  text-align: center;
  width: 100%;
}

.centered_tab {
  float: none; /*to make sure there is no active float*/
  display: inline-block;
}

.users-list {
  position: relative;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  background: #fff;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgb(50 50 50 / 10%);
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color: #8aa8bd;
}

.active {
  font-weight: bold;
}

.nav {
  display: inline-block;
  align-items: center;
  background: rgb(19, 109, 151);
  height: 80px;
  width: 100%;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5pc;
  color: white;
  font-size: 17px;
  text-transform: uppercase;
}

.logged-user {
  display: inline-flex;
  color: white;
  line-height: 80px;
  font-weight: bold;
}

.avatar {
  height: 75px;
  width: 75px;
  border-radius: 25px;
  margin: 10px;
  justify-content: right;
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.question-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

/* Hacky but less typing in the video */
.question-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.question-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.question-info > div > div {
  color: #969696;
  font-size: 15px;
}
.question-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}
.question-icons {
  display: flex;
  align-items: center;
}
.question-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.question-icon {
  font-size: 27px;
  color: #697784;
}
.question-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}
.replying-to {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #969696;
  cursor: pointer;
}

.heart-button {
  background: transparent;
  border: none;
}

.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.question-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #c3392a;
}
